Yannik Sahl <yanniksahl@outlook.de> s0569340 <yannik.sahl@student.htw-berlin.de>  
Yannik Sahl <yanniksahl@outlook.de> <s0569340@htw-berlin.de>  
Oliver Tworkowski <olitworkowski@gmail.com> s0568202 <oliver.tworkowski@student.htw-berlin.de>  
Lukas Weigel <s0568476@htw-berlin.de> Lukas <s0568476@htw-berlin.de> 
Lukas Weigel <s0568476@htw-berlin.de> s0568476 <lukas.weigel@student.htw-berlin.de>  
